body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

ul.topnav li {float: left; }

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Century Gothic";
    font-size: medium;
    font-style: oblique;
}

ul.topnav li a:hover:not(.active) {
    background-color:deeppink;
    font-family: "Century Gothic";
    font-size: medium;
    font-style: oblique;
}

ul.topnav li a.active {
    background-color: #e100ff;
    font-family: "Century Gothic";
    font-size: medium;
    font-style: oblique;
}

ul.topnav li.right {float: right;
    font-family: "Century Gothic";
    font-size: medium;
    font-style: oblique;
}

div.right {float: right;}
div.left {float: left;}


@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

header{
    padding: 1em;
    color: white;
    background-color:darkmagenta;
    clear: left;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

footer{
    padding: 1em;
    color: white;
    background-color: darkmagenta;
    clear: left;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

table{
    background-color: white;
    text-align: center;
    font-family: fantasy;
    font-style:initial;
    font-size:xx-large;
    border-style: none;
}

th, td{
    border: none;
}

tr:hover {
    background-color: rgb(80, 98, 255);
}

fieldset{
    border: 5px solid;
    border-style: inset;
    border-color: rgb(0, 217, 255);
    color: darkmagenta;
}

legend{
    text-decoration: dotted;
    text-align: left;
    font-size:xx-large;
    font-family:"Caviar Dreams";
    font-weight:bolder;
}

p{
    text-align: center;
    font-style: normal;
    font-size:x-large;
    font-family:"Caviar Dreams";
    font-style: italic;
    font-weight:bold;
}
      